html,body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
}

.header{
    height: auto;
    margin: 50px 0px 50px 50px;
}

.header .kanan{
    float: right;
    width: 340px;
}

.header .kanan h1{
    color: #4e73df;
    position: absolute;
    top:65px;
    right: 20px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.header .hotel{
    padding-left: 20px;
}

.header .kiri{
    float: left;
    color: black;
}

.main{
    color: black;
    margin: 50px 100px 50px 100px;
}

#table{
    text-align: center;
    color: black;
}

a{
    float: right;
}