html,body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
    background: #f8f9fc;
}

.header{
    height: 70px;
    background: #f8f9fc;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 9999;
}

.header h1{
    color: #4e73df;
    position: absolute;
    top: 15px;
    left: 120px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.header .hotel{
    padding-left: 50px;
}


.header li{
    list-style-type: none;
    display: inline-block;
}

.header a{
    text-decoration-line: none;
    display: inline-block;
    color: #4e73df;
    text-align: center;
    padding-top: 2px;
    width: 60px;
    height: 30px;
}

.header a:hover{
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    width: 60px;
    height: 30px;
}

.header .fasilitas{
    position: absolute;
    right: 50px;
    top: 32px;
}

.header .kamar{
    position: absolute;
    right: 130px;
    top: 32px;
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
}

.header .home{
    position: absolute;
    right: 210px;
    top: 32px;
}

.main{
    padding: 100px 50px 0px 50px;
    background-color: #f8f9fc;
}

td{
    width: 300px;
    padding: 0px 30px 60px 30px;
}

td img{
    width: 300px;
    height: 200px;
}

td h3{
    color: #4e73df;
    font-weight: 400;
}

.main h2{
    color: #4e73df;
    font-size: 40px;
    font-weight: 700;
}
