html,body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
    background: #f9f8fc;
}

.header{
    height: 70px;
    background: #f9f8fc;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 9999;
}

.header h1{
    color: #4e73df;
    position: absolute;
    top: 15px;
    left: 120px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.header .hotel{
    padding-left: 50px;
}

.header h3{
    text-align: center;
    margin-top: -30px;
    color: #4e73df;
}

.header li{
    list-style-type: none;
    display: inline-block;
}

.header a{
    text-decoration-line: none;
    display: inline-block;
    color: #4e73df;
    text-align: center;
    padding-top: 2px;
    width: 60px;
    height: 30px;
}

.header a:hover{
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
    width: 120px;
    height: 30px;
}

.header .fasilitashotel{
    position: absolute;
    width: 100px;
    right: 50px;
    top: 32px;
}

.header .fasilitaskamar{
    position: absolute;
    width: 120px;
    right: 180px;
    top: 32px;
}

.header .kamar{
    position: absolute;
    right: 310px;
    top: 32px;
    width: 120px;
    border: 1px solid #4e73df;
    background-color: #4e73df;
    color: white;
    border-radius: 5px;
}

.main{
    padding: 100px 100px 0px 100px;
    background-color: #f9f8fc;

}

.main .tambah a{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(../image/tambah.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

tr{
    text-align: center;
}

td{
    text-align: center;
    font-size: 15px;
}

form .lihat a{
    height: 30px;
    width: 30px;
    background-image: url(../image/lihat.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

form .ubah a{
    height: 30px;
    width: 30px;
    background-image: url(../image/edit.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: center;
    position: relative;
    right: 14px;
}

form .hapus button{
    height: 30px;
    width: 30px;
    background-image: url(../image/hapus.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    position: relative;
    top: -30px;
}

table{
    background-color: white;
}