html,body{
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
    background: #f8f9fc;
}

.header{
    height: 70px;
    background: #f8f9fc;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 9999;
}

.header h1{
    color: #4e73df;
    position: absolute;
    top: 15px;
    left: 120px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.header .hotel{
    padding-left: 50px;
}

.header h3{
    text-align: center;
    margin-top: -30px;
    color: #4e73df;
}

.main{
    padding: 100px 100px 50px 100px;
    background-color: #f8f9fc;
}



.fitur .cari{
    float: right;
    width: auto;
    border: 1px solid gainsboro;
    padding-left: 59px;
    height: 38px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}

.fitur .cari input{
    width: 170px;
    height: 30px;
}

.fitur .tanggal input{
    width: 170px;
    height: 30px;
}

.fitur button{
    height: 30px;
    width: 30px;
    background-image: url(../image/cari.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}


.fitur a{
    height: 30px;
    width: 30px;
    background-image: url(../image/ulangi.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.fitur .tanggal{
    float: left;
    width: auto;
    border: 1px solid gainsboro;
    height: 38px;
    padding: 2px 2px 2px 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}

tr{
    text-align: center;
}

td{
    text-align: center;
    font-size: 15px;
}

table{
    background-color: white;
}

